/* CSS Document */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-dark {
    --bs-navbar-hover-color: rgb(255, 175, 244);
    --bs-navbar-disabled-color: rgb(146, 146, 146);
    --bs-navbar-active-color: rgb(255, 255, 255);
    --bs-navbar-brand-color: rgb(255, 255, 255);
    --bs-navbar-brand-hover-color: rgb(255, 175, 244);
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(49, 0, 48) !important;
}

.navbar-toggler {
    border: var(--bs-border-width) solid rgba(252, 167, 255, 0.9);
}

.nav-link {
    color: rgb(255, 255, 255);
}

.homepage {
    padding-top: 10px;
}

.footer {
    background-color: rgb(49, 0, 48) !important;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.designpage {
    padding-top: 15px;
}

.cardContainer {
    max-width: 1000px;
}

.btn {
    background-color: rgb(255, 189, 234);
    color: rgb(78, 13, 113);
}

.btn-primary:hover {
    background-color: rgb(64, 0, 80);
    color: white;
}

.btn-primary:visited, 
.btn-primary:active,
.btn-primary:focus {
    background-color: rgb(64, 0, 80);
    color: white;
}

.modal-body{
    text-align: center;
}